In [3]:
import numpy as np
import pandas as pd
import sklearn
from datetime import datetime, date, timedelta

In [15]:
def _get_econs(data_df):
    data_econ_3 = data_df[ data_df['MDA_CGR_NM'] == 'mbn00003']
    data_econ_4 = data_df[ data_df['MDA_CGR_NM'] == 'mbn00004']
    data_econ_5 = data_df[ data_df['MDA_CGR_NM'] == 'mbn00005']
    data_econ = pd.concat([data_econ_3, data_econ_4, data_econ_5])
    ## 003: 경제 / 004: 증권 / 005: 부동산
    
    return data_econ

In [16]:
## 2016 ~ 2019 4개년 경제 데이터 load

data_df = None

for year in range(16, 20):
    data_dir = 'analyzed_mbnnews_20' + str(year) + '.txt'
    print(data_dir)
    
    if data_df is None:
        data_df = pd.read_csv(data_dir, encoding='utf-8')
        data_econ = _get_econs(data_df)
    else:
        data_df_add = pd.read_csv(data_dir, encoding='utf-8')
        data_econ_add = _get_econs(data_df_add)
        data_econ = pd.concat([data_econ, data_econ_add])

analyzed_mbnnews_2016.txt
analyzed_mbnnews_2017.txt
analyzed_mbnnews_2018.txt
analyzed_mbnnews_2019.txt

In [17]:
data_econ.describe()
#data_df.describe()

       MBN_ART_ESSN_NO      STD_YEAR  ATCH_IMG_NM      WRT_DATE
count     4.527000e+03  4.527000e+03          0.0  4.527000e+03
mean      1.173623e+06  2.017581e+07          NaN  2.017581e+13
std       3.166614e+04  1.086004e+04          NaN  1.085999e+10
min       1.115097e+06  2.016010e+07          NaN  2.016010e+13
25%       1.146709e+06  2.017013e+07          NaN  2.017013e+13
50%       1.174556e+06  2.018012e+07          NaN  2.018012e+13
75%       1.199678e+06  2.018121e+07          NaN  2.018121e+13
max       1.228239e+06  2.019112e+07          NaN  2.019112e+13

In [18]:
data_econ.head()
#data_df.head()

,MBN_MDA_SP_CD,MBN_ART_ESSN_NO,MDA_CGR_NM,STD_YEAR,ART_SJ_CN,ART_CN,ATCH_IMG_NM,JRNL_NM,WRT_DATE,ART_POSA,...,ART_INST_NM,ART_AREA_NM,ART_GD_NM,ART_QY,ART_EVT,ART_DT,ART_TIME,ART_ANM,ART_PLNT,ART_AF
10,MBN,1115097,mbn00003,20160101,윤여준 만난 안철수…본격 세 규합 나서나,【 앵커멘트 】\n 창당 작업을 진행 중인 안철수 의원이 자신의 예전 '멘토'이던...,NaN,김한준,20160101202345,"윤여준/NNP, 만난/VV, 안철수/NNP, …/SE, 본격/NNG, 세/MM, 규...",...,"환경부, 민주당, 더불어민주당, MBN뉴스",서울,"마무리, 앞치마##가구/인테리어#홈데코#주방데코, 인터뷰##디지털/가전#음향가전#마...","세, 첫날",NaN,"지난달 30일, 오는 10일, 지난 2014년 3월",저녁,NaN,NaN,NaN
19,MBN,1115106,mbn00003,20160101,소줏값에 공공요금도 들썩…장바구니 물가 비상,"【 앵커멘트 】\n 버스와 상하수도, 쓰레기봉투 등 공공요금이 줄줄이 오른데다, ...",NaN,정규해,20160101204701,"소/NNG, 줏값/NNG, 에/JKB, 공공요금/NNG, 도/JX, 들썩/MAG, ...",...,"대구시, 맥아, MBN, 경주","울산, 서울, 서초, 강남, 부산, 구미, 하수도, 인천시, 성수동","구미##식품#가공식품#과자, 스탠##패션잡화#신발#운동화, 채소##가구/인테리어#아...","940원, 25%, 10%, 4개, 100원, 3~4천 원, 1천 원, 2.6배, ...",NaN,"지난해, 새해 벽두부터",NaN,"소, 한우",NaN,시내버스
21,MBN,1115108,mbn00003,20160101,[앵커큐브] 직장인 새해 소망 1위는?,2016년 새해 여러분은 어떤 꿈을 꼭 이루고 싶으세요?\n\n 한 빅데이터 분석...,NaN,김형오,20160101205131,"[/SS, 앵커큐브/NNG, ]/SS, 직장인/NNG, 새해/NNG, 소망/NNG,...",...,NaN,NaN,NaN,"1위, 한 온라인, 두번째",NaN,2016년,NaN,NaN,NaN,NaN
27,MBN,1115125,mbn00003,20160101,[아세안원정대] 아세안경제공동체 출범…'기회의 땅' 열려,【 앵커멘트 】\n 매일경제 50주년을 맞아 MBN과 매일경제는 올한해 아세안 지...,NaN,문재용,20160102113027,"[/SS, 아세안원정대/NNP, ]/SS, 아세안경제공동체/NNP, 출범/NNG, ...",...,"동남아시아국가연합, 아세안경제공동체, 매일경제, MBN, 아시아개발은행, AEC","수도, 라오스, 동남아시아, 아세안, 한국, 캄보디아, 프놈펜, 베트남","확장##디지털/가전#카메라/캠코더용품#삼각대/헤드, 세계##디지털/가전#생활가전#청...","2차선, 약 198km, 1차선, 6억 2,000만 명, 두 시간가량, 1,258조...",메콩강경제회랑,"2010년, 매일경제 50주년, 올한해, 10년 동안",NaN,NaN,NaN,"아세안원정대, 냑릉, 매일경제신문"
46,MBN,1115153,mbn00003,20160102,올해 전세시장 더 팍팍하다…거래도 위축,【 앵커멘트 】\n 지난해 부동산 시장은 모처럼 활기를 띠었는데요.\n 올해는 ...,NaN,김경기,20160102204815,"올해/NNG, 전세/NNG, 시장/NNG, 더/MAG, 팍팍/XR, 하/XSA, 다...",...,VJ,"미국, 서울, 녹번역","다니##식품#가공식품#조미료, 알리##가구/인테리어#서재/사무용가구#책장, 스탠##...","3만 가구, 2만 가구, 2천 가구",NaN,"올해, 지난해, 하반기, 5월까지",NaN,NaN,NaN,NaN

In [ ]:
###

In [19]:
data_df = data_econ

In [20]:
data_df = data_df.reset_index()
data_df = data_df.drop('index', axis=1)

In [21]:
data_df

,MBN_MDA_SP_CD,MBN_ART_ESSN_NO,MDA_CGR_NM,STD_YEAR,ART_SJ_CN,ART_CN,ATCH_IMG_NM,JRNL_NM,WRT_DATE,ART_POSA,...,ART_INST_NM,ART_AREA_NM,ART_GD_NM,ART_QY,ART_EVT,ART_DT,ART_TIME,ART_ANM,ART_PLNT,ART_AF
0,MBN,1115097,mbn00003,20160101,윤여준 만난 안철수…본격 세 규합 나서나,【 앵커멘트 】\n 창당 작업을 진행 중인 안철수 의원이 자신의 예전 '멘토'이던...,NaN,김한준,20160101202345,"윤여준/NNP, 만난/VV, 안철수/NNP, …/SE, 본격/NNG, 세/MM, 규...",...,"환경부, 민주당, 더불어민주당, MBN뉴스",서울,"마무리, 앞치마##가구/인테리어#홈데코#주방데코, 인터뷰##디지털/가전#음향가전#마...","세, 첫날",NaN,"지난달 30일, 오는 10일, 지난 2014년 3월",저녁,NaN,NaN,NaN
1,MBN,1115106,mbn00003,20160101,소줏값에 공공요금도 들썩…장바구니 물가 비상,"【 앵커멘트 】\n 버스와 상하수도, 쓰레기봉투 등 공공요금이 줄줄이 오른데다, ...",NaN,정규해,20160101204701,"소/NNG, 줏값/NNG, 에/JKB, 공공요금/NNG, 도/JX, 들썩/MAG, ...",...,"대구시, 맥아, MBN, 경주","울산, 서울, 서초, 강남, 부산, 구미, 하수도, 인천시, 성수동","구미##식품#가공식품#과자, 스탠##패션잡화#신발#운동화, 채소##가구/인테리어#아...","940원, 25%, 10%, 4개, 100원, 3~4천 원, 1천 원, 2.6배, ...",NaN,"지난해, 새해 벽두부터",NaN,"소, 한우",NaN,시내버스
2,MBN,1115108,mbn00003,20160101,[앵커큐브] 직장인 새해 소망 1위는?,2016년 새해 여러분은 어떤 꿈을 꼭 이루고 싶으세요?\n\n 한 빅데이터 분석...,NaN,김형오,20160101205131,"[/SS, 앵커큐브/NNG, ]/SS, 직장인/NNG, 새해/NNG, 소망/NNG,...",...,NaN,NaN,NaN,"1위, 한 온라인, 두번째",NaN,2016년,NaN,NaN,NaN,NaN
3,MBN,1115125,mbn00003,20160101,[아세안원정대] 아세안경제공동체 출범…'기회의 땅' 열려,【 앵커멘트 】\n 매일경제 50주년을 맞아 MBN과 매일경제는 올한해 아세안 지...,NaN,문재용,20160102113027,"[/SS, 아세안원정대/NNP, ]/SS, 아세안경제공동체/NNP, 출범/NNG, ...",...,"동남아시아국가연합, 아세안경제공동체, 매일경제, MBN, 아시아개발은행, AEC","수도, 라오스, 동남아시아, 아세안, 한국, 캄보디아, 프놈펜, 베트남","확장##디지털/가전#카메라/캠코더용품#삼각대/헤드, 세계##디지털/가전#생활가전#청...","2차선, 약 198km, 1차선, 6억 2,000만 명, 두 시간가량, 1,258조...",메콩강경제회랑,"2010년, 매일경제 50주년, 올한해, 10년 동안",NaN,NaN,NaN,"아세안원정대, 냑릉, 매일경제신문"
4,MBN,1115153,mbn00003,20160102,올해 전세시장 더 팍팍하다…거래도 위축,【 앵커멘트 】\n 지난해 부동산 시장은 모처럼 활기를 띠었는데요.\n 올해는 ...,NaN,김경기,20160102204815,"올해/NNG, 전세/NNG, 시장/NNG, 더/MAG, 팍팍/XR, 하/XSA, 다...",...,VJ,"미국, 서울, 녹번역","다니##식품#가공식품#조미료, 알리##가구/인테리어#서재/사무용가구#책장, 스탠##...","3만 가구, 2만 가구, 2천 가구",NaN,"올해, 지난해, 하반기, 5월까지",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4522,MBN,1228191,mbn00003,20191116,"""선이 사라진다""…무선 시대 본격화",【 앵커멘트 】\n 거추장스러운 '선'이 사라지고 있습니다. \n 이미 대중화...,NaN,차민아,20191116202401,"""/SS, 선/NNG, 이/JKS, 사라진/VV, 다/EC, ""/SS, …/SE, ...",...,NaN,NaN,"공기청정기##디지털/가전#계절가전#공기정화기, 자동차##디지털/가전#태블릿PC/노트...",1억대,NaN,1년 내내,NaN,NaN,NaN,"자율주행차, 지하철, 전기차, 자동차"
4523,MBN,1228192,mbn00003,20191116,"일본, 액체 불화수소 수출 허가…""WTO 분쟁 고려한 듯""",【 앵커멘트 】\n 일본 정부가 우리나라에 대한 3가지 핵심 소재에 대한 수출 규...,NaN,이동훈,20191116202713,"일본/NNP, ,/SP, 액체/NNG, 불화수소/NNG, 수출/NNG, 허가/NNG...",...,"WTO, 스텔라케미파, 일본, 일본 정부, 삼성전자, 한일 군사정보보호협정, SK하이닉스","일본, 한국","스마트##스포츠/레저#자전거#자전거/MTB, 대한##디지털/가전#PC액세서리#USB...","3가지, 두개",한일 2차 양자협의와,"90일, 9월, 8월, 지난 7월",NaN,NaN,NaN,WTO
4524,MBN,1228220,mbn00003,20191117,"일본 ""수출규제 철회 없다"" 미국에 입장 전달",【 앵커멘트 】\n 일본이 지소미아 연장을 위해 수출규제를 철회할 생각이 없다는 ...,NaN,이무형,20191117194021,"일본/NNP, ""/SS, 수출/NNG, 규제/NNG, 철회/NNG, 없/VA, 다/...",...,"일본, 요미우리신문, 일본 정부, MBN뉴스, 세계무역기구 WTO","미국, 일본, 스위스, 제네바, 지소미아, 한국","세계##디지털/가전#생활가전#청소기, 대한##디지털/가전#PC액세서리#USB액세서리...","마지막, 2차, 1차, 3개",NaN,"지난 15일, 오는 19일",NaN,NaN,NaN,NaN
4525,MBN,1228238,mbn00003,20191117,현대차 빼고 10대 그룹 '최악 부진'…영업이익 19조 줄었다,【 앵커멘트 】 \n 우리나라 주요 그룹이 3분기 영업활동으로 벌어들인 이익이 지...,NaN,이상주,20191117204819,"현대차/NNP, 빼/VV, 고/EC, 10/SN, 대/NNB, 그룹/NNG, '/S...",...,"현대차, SK, LG, MBN뉴스, 삼성, 현대차 그룹",NaN,"세계##디지털/가전#생활가전#청소기, 유가##식품#가공식품#과자, 인터뷰##디지털/...","10대, 19조 원, 75%, 3분기, 5분의 1, 10조 원, 19조, 90곳, 1%대",미중 무역,"올해, 지난해, 지난해 12월부터 올해 10월, 11개월, 3분기",NaN,NaN,NaN,NaN
4526,MBN,1228239,mbn00003,20191117,"대한항공기, 독일 공항서 접촉 사고…21시간 운항 지연",【 앵커멘트 】\n 인천에서 출발해 독일 프랑크푸르트 공항에 도착해 대기 중이던 ...,NaN,김문영,20191117210142,"대한/NNP, 항공기/NNG, ,/SP, 독일/NNP, 공항/NNG, 서/JKB, ...",...,"대한항공 KE, 독일, 대한항공","독일, 에어나미비아, 프랑크푸르트, 아프리카, 어나미비아, 인천, 나미비아","대한##디지털/가전#PC액세서리#USB액세서리, 에어##디지털/가전#계절가전#공기정...","905편, 260명, 10여 분, 1시간, 241명",NaN,"17일, 오늘","밤, 21시간, 새벽 2시 20분쯤",날개,NaN,"대한항공 여객기, 대한항공기, 항공기"

In [22]:
data_df.tail()

,MBN_MDA_SP_CD,MBN_ART_ESSN_NO,MDA_CGR_NM,STD_YEAR,ART_SJ_CN,ART_CN,ATCH_IMG_NM,JRNL_NM,WRT_DATE,ART_POSA,...,ART_INST_NM,ART_AREA_NM,ART_GD_NM,ART_QY,ART_EVT,ART_DT,ART_TIME,ART_ANM,ART_PLNT,ART_AF
4522,MBN,1228191,mbn00003,20191116,"""선이 사라진다""…무선 시대 본격화",【 앵커멘트 】\n 거추장스러운 '선'이 사라지고 있습니다. \n 이미 대중화...,NaN,차민아,20191116202401,"""/SS, 선/NNG, 이/JKS, 사라진/VV, 다/EC, ""/SS, …/SE, ...",...,NaN,NaN,"공기청정기##디지털/가전#계절가전#공기정화기, 자동차##디지털/가전#태블릿PC/노트...",1억대,NaN,1년 내내,NaN,NaN,NaN,"자율주행차, 지하철, 전기차, 자동차"
4523,MBN,1228192,mbn00003,20191116,"일본, 액체 불화수소 수출 허가…""WTO 분쟁 고려한 듯""",【 앵커멘트 】\n 일본 정부가 우리나라에 대한 3가지 핵심 소재에 대한 수출 규...,NaN,이동훈,20191116202713,"일본/NNP, ,/SP, 액체/NNG, 불화수소/NNG, 수출/NNG, 허가/NNG...",...,"WTO, 스텔라케미파, 일본, 일본 정부, 삼성전자, 한일 군사정보보호협정, SK하이닉스","일본, 한국","스마트##스포츠/레저#자전거#자전거/MTB, 대한##디지털/가전#PC액세서리#USB...","3가지, 두개",한일 2차 양자협의와,"90일, 9월, 8월, 지난 7월",NaN,NaN,NaN,WTO
4524,MBN,1228220,mbn00003,20191117,"일본 ""수출규제 철회 없다"" 미국에 입장 전달",【 앵커멘트 】\n 일본이 지소미아 연장을 위해 수출규제를 철회할 생각이 없다는 ...,NaN,이무형,20191117194021,"일본/NNP, ""/SS, 수출/NNG, 규제/NNG, 철회/NNG, 없/VA, 다/...",...,"일본, 요미우리신문, 일본 정부, MBN뉴스, 세계무역기구 WTO","미국, 일본, 스위스, 제네바, 지소미아, 한국","세계##디지털/가전#생활가전#청소기, 대한##디지털/가전#PC액세서리#USB액세서리...","마지막, 2차, 1차, 3개",NaN,"지난 15일, 오는 19일",NaN,NaN,NaN,NaN
4525,MBN,1228238,mbn00003,20191117,현대차 빼고 10대 그룹 '최악 부진'…영업이익 19조 줄었다,【 앵커멘트 】 \n 우리나라 주요 그룹이 3분기 영업활동으로 벌어들인 이익이 지...,NaN,이상주,20191117204819,"현대차/NNP, 빼/VV, 고/EC, 10/SN, 대/NNB, 그룹/NNG, '/S...",...,"현대차, SK, LG, MBN뉴스, 삼성, 현대차 그룹",NaN,"세계##디지털/가전#생활가전#청소기, 유가##식품#가공식품#과자, 인터뷰##디지털/...","10대, 19조 원, 75%, 3분기, 5분의 1, 10조 원, 19조, 90곳, 1%대",미중 무역,"올해, 지난해, 지난해 12월부터 올해 10월, 11개월, 3분기",NaN,NaN,NaN,NaN
4526,MBN,1228239,mbn00003,20191117,"대한항공기, 독일 공항서 접촉 사고…21시간 운항 지연",【 앵커멘트 】\n 인천에서 출발해 독일 프랑크푸르트 공항에 도착해 대기 중이던 ...,NaN,김문영,20191117210142,"대한/NNP, 항공기/NNG, ,/SP, 독일/NNP, 공항/NNG, 서/JKB, ...",...,"대한항공 KE, 독일, 대한항공","독일, 에어나미비아, 프랑크푸르트, 아프리카, 어나미비아, 인천, 나미비아","대한##디지털/가전#PC액세서리#USB액세서리, 에어##디지털/가전#계절가전#공기정...","905편, 260명, 10여 분, 1시간, 241명",NaN,"17일, 오늘","밤, 21시간, 새벽 2시 20분쯤",날개,NaN,"대한항공 여객기, 대한항공기, 항공기"

In [ ]:
data_df['MDA_CGR_NM']

In [135]:
data_df_fil = data_df[['MBN_ART_ESSN_NO', 'MDA_CGR_NM', 'STD_YEAR', 'ART_SJ_CN', 'ART_CN', 'ART_POSA']]
data_df_fil.columns = ['ART_ID', 'GENRE', 'DATE', 'TITLE', 'CNTS', 'ART_POS']

In [136]:
data_df_fil.head()

,ART_ID,GENRE,DATE,TITLE,CNTS,ART_POS
0,1115097,mbn00003,20160101,윤여준 만난 안철수…본격 세 규합 나서나,【 앵커멘트 】\n 창당 작업을 진행 중인 안철수 의원이 자신의 예전 '멘토'이던...,"윤여준/NNP, 만난/VV, 안철수/NNP, …/SE, 본격/NNG, 세/MM, 규..."
1,1115106,mbn00003,20160101,소줏값에 공공요금도 들썩…장바구니 물가 비상,"【 앵커멘트 】\n 버스와 상하수도, 쓰레기봉투 등 공공요금이 줄줄이 오른데다, ...","소/NNG, 줏값/NNG, 에/JKB, 공공요금/NNG, 도/JX, 들썩/MAG, ..."
2,1115108,mbn00003,20160101,[앵커큐브] 직장인 새해 소망 1위는?,2016년 새해 여러분은 어떤 꿈을 꼭 이루고 싶으세요?\n\n 한 빅데이터 분석...,"[/SS, 앵커큐브/NNG, ]/SS, 직장인/NNG, 새해/NNG, 소망/NNG,..."
3,1115125,mbn00003,20160101,[아세안원정대] 아세안경제공동체 출범…'기회의 땅' 열려,【 앵커멘트 】\n 매일경제 50주년을 맞아 MBN과 매일경제는 올한해 아세안 지...,"[/SS, 아세안원정대/NNP, ]/SS, 아세안경제공동체/NNP, 출범/NNG, ..."
4,1115153,mbn00003,20160102,올해 전세시장 더 팍팍하다…거래도 위축,【 앵커멘트 】\n 지난해 부동산 시장은 모처럼 활기를 띠었는데요.\n 올해는 ...,"올해/NNG, 전세/NNG, 시장/NNG, 더/MAG, 팍팍/XR, 하/XSA, 다..."

In [137]:
data_df_fil['GENRE'].value_counts()

mbn00003    4521
mbn00005       5
mbn00004       1
Name: GENRE, dtype: int64

In [138]:
## 장르 Reformatting 
genre_pair = {'mbn00003': 'econ', 'mbn00004': 'econ', 'mbn00005': 'econ', 'mbn00006': 'poli', 
                  'mbn00007': 'cult', 'mbn00008': 'glob', 'mbn00009': 'socio', 'mbn00011': 'sports' }

for idx, genre in enumerate(data_df_fil['GENRE']):
    gen = genre_pair[genre]
    data_df_fil['GENRE'][idx] = gen

/home/saladsong/miniconda3/envs/env_salad/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/saladsong/miniconda3/envs/env_salad/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3343: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [139]:
## 날짜 Reformatting 
for idx, artdate in enumerate(data_df_fil['DATE']):
    artdate = str(artdate)
    date_reg = '{}-{}-{}'.format(artdate[:4], artdate[4:6], artdate[-2:])
    date_reg_ = date.fromisoformat(date_reg)
    data_df_fil['DATE'][idx] = date_reg_

/home/saladsong/miniconda3/envs/env_salad/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/saladsong/miniconda3/envs/env_salad/lib/python3.7/site-packages/pandas/core/series.py:1092: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_labels(key, value)

In [140]:
## 내용 필터링 
for idx, article in enumerate(data_df_fil['CNTS']):
    #article = article.replace('【 앵커멘트 】','')
    #article = article.replace('【 기자 】','')
    #article = article.replace('▶','')
    #article = article.replace('MBN','')
    #article = article.replace('뉴스','')
    #article = article.replace('기자','')
    #article = article.replace('영상취재','')
    #article = article.replace('영상편집','')
    #article = article.replace(':','')
    #article = article.replace('"','')
    article = article.replace('  ',' ')
    art = article.replace('\n',' ')    
    data_df_fil['CNTS'][idx] = art

/home/saladsong/miniconda3/envs/env_salad/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [141]:
data_df_fil.head()

,ART_ID,GENRE,DATE,TITLE,CNTS,ART_POS
0,1115097,econ,2016-01-01,윤여준 만난 안철수…본격 세 규합 나서나,【 앵커멘트 】 창당 작업을 진행 중인 안철수 의원이 자신의 예전 '멘토'이던 윤...,"윤여준/NNP, 만난/VV, 안철수/NNP, …/SE, 본격/NNG, 세/MM, 규..."
1,1115106,econ,2016-01-01,소줏값에 공공요금도 들썩…장바구니 물가 비상,"【 앵커멘트 】 버스와 상하수도, 쓰레기봉투 등 공공요금이 줄줄이 오른데다, 서민...","소/NNG, 줏값/NNG, 에/JKB, 공공요금/NNG, 도/JX, 들썩/MAG, ..."
2,1115108,econ,2016-01-01,[앵커큐브] 직장인 새해 소망 1위는?,2016년 새해 여러분은 어떤 꿈을 꼭 이루고 싶으세요? 한 빅데이터 분석업체가...,"[/SS, 앵커큐브/NNG, ]/SS, 직장인/NNG, 새해/NNG, 소망/NNG,..."
3,1115125,econ,2016-01-01,[아세안원정대] 아세안경제공동체 출범…'기회의 땅' 열려,【 앵커멘트 】 매일경제 50주년을 맞아 MBN과 매일경제는 올한해 아세안 지역에...,"[/SS, 아세안원정대/NNP, ]/SS, 아세안경제공동체/NNP, 출범/NNG, ..."
4,1115153,econ,2016-01-02,올해 전세시장 더 팍팍하다…거래도 위축,【 앵커멘트 】 지난해 부동산 시장은 모처럼 활기를 띠었는데요. 올해는 만만치 ...,"올해/NNG, 전세/NNG, 시장/NNG, 더/MAG, 팍팍/XR, 하/XSA, 다..."

In [142]:
data_df_db = data_df_fil[ ['ART_ID', 'GENRE', 'DATE', 'TITLE', 'CNTS'] ]

In [143]:
data_df_db.head()

,ART_ID,GENRE,DATE,TITLE,CNTS
0,1115097,econ,2016-01-01,윤여준 만난 안철수…본격 세 규합 나서나,【 앵커멘트 】 창당 작업을 진행 중인 안철수 의원이 자신의 예전 '멘토'이던 윤...
1,1115106,econ,2016-01-01,소줏값에 공공요금도 들썩…장바구니 물가 비상,"【 앵커멘트 】 버스와 상하수도, 쓰레기봉투 등 공공요금이 줄줄이 오른데다, 서민..."
2,1115108,econ,2016-01-01,[앵커큐브] 직장인 새해 소망 1위는?,2016년 새해 여러분은 어떤 꿈을 꼭 이루고 싶으세요? 한 빅데이터 분석업체가...
3,1115125,econ,2016-01-01,[아세안원정대] 아세안경제공동체 출범…'기회의 땅' 열려,【 앵커멘트 】 매일경제 50주년을 맞아 MBN과 매일경제는 올한해 아세안 지역에...
4,1115153,econ,2016-01-02,올해 전세시장 더 팍팍하다…거래도 위축,【 앵커멘트 】 지난해 부동산 시장은 모처럼 활기를 띠었는데요. 올해는 만만치 ...

In [144]:
## for ES index
#data_df_db.to_csv('data_all.csv', index=False, sep=';')
data_df_db.to_csv('data_econ.csv', index=False, sep=';')

In [145]:
## for Reco model
#data_df_fil.to_csv('data_all_pos.csv', index=False, sep=';')
data_df_fil.to_csv('data_econ_pos.csv', index=False, sep=';')

In [3]:
import pandas as pd

In [35]:
## to build econ id list 
data_df = pd.read_csv('data_econ.csv', delimiter=';')
data_df.head(10)

,ART_ID,GENRE,DATE,TITLE,CNTS
0,1115097,econ,2016-01-01,윤여준 만난 안철수…본격 세 규합 나서나,【 앵커멘트 】 창당 작업을 진행 중인 안철수 의원이 자신의 예전 '멘토'이던 윤...
1,1115106,econ,2016-01-01,소줏값에 공공요금도 들썩…장바구니 물가 비상,"【 앵커멘트 】 버스와 상하수도, 쓰레기봉투 등 공공요금이 줄줄이 오른데다, 서민..."
2,1115108,econ,2016-01-01,[앵커큐브] 직장인 새해 소망 1위는?,2016년 새해 여러분은 어떤 꿈을 꼭 이루고 싶으세요? 한 빅데이터 분석업체가...
3,1115125,econ,2016-01-01,[아세안원정대] 아세안경제공동체 출범…'기회의 땅' 열려,【 앵커멘트 】 매일경제 50주년을 맞아 MBN과 매일경제는 올한해 아세안 지역에...
4,1115153,econ,2016-01-02,올해 전세시장 더 팍팍하다…거래도 위축,【 앵커멘트 】 지난해 부동산 시장은 모처럼 활기를 띠었는데요. 올해는 만만치 ...
5,1115181,econ,2016-01-03,"진에어, 출입문 '틈' 1만 피트 상공에서 긴급 회항",【 앵커멘트 】 오늘 새벽 필리핀 세부를 출발해 부산으로 오던 진에어 여객기가 만...
6,1115264,econ,2016-01-04,새해 첫날부터 '블랙먼데이'…중국 증시 6.9% 폭락,"【 앵커멘트 】 올해 주식시장이 문을 열자마자 패닉, 공포에 빠졌습니다. 중국 ..."
7,1115276,econ,2016-01-04,"최태원 회장, 7일 만에 등장…'솔직함' 강조",【 앵커멘트 】 혼외자 고백으로 파문을 일으킨 SK 최태원 회장이 7일 만에 공식...
8,1115284,econ,2016-01-04,잇따르는 저가항공 사고…안전보다 비용 절감?,【 앵커멘트 】 최근 저가항공사 여객기 사고가 잇따르고 있는데요. 가격 경쟁으로...
9,1115285,econ,2016-01-04,"인천공항 대규모 지연사태…""대책이 없다""",【 앵커멘트 】 어제 인천국제공항에서 항공기 1백여 편이 지연 운항하는 사고가 났...

In [ ]:
## to download (filter) econ_video
## dict ={ video_id : corresponding path in the server }

In [5]:
res_dict = dict()
res_list = list()

for idx in range(len(data_df)):
    art_id = data_df['ART_ID'][idx]
    w_date = data_df['DATE'][idx]
    res_dict[art_id] = w_date
    res_list.append( (art_id, w_date) )

In [6]:
print('list, ', len(res_list), res_list[0])
print('dict, ', len(res_dict), res_dict[1115097])

list,  4527 (1115097, '2016-01-01')
dict,  4527 2016-01-01

In [11]:
path_list = dict()

for idx, item in enumerate(res_list):
    a_id = item[0]
    path = '/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/'
    yy, mm, dd = item[1][:4], item[1][5:7], item[1][-2:]
    path_add = str(yy) + '/' + str(mm) + '/' + str(dd) + '/*' + str(a_id) + '*.mp4'
    path_full = path + path_add
    path_list[a_id] = path_full

print(len(path_list), path_list[1115097])

# scp -P 5910 mbn@147.47.123.184:/var/services/homes/mbn/원천동영상/ 보도_MBN종합뉴스/2016/01/03/*1115181*.mp4 C:\Users\saladsong\mbn\videos

4527 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/01/*1115097*.mp4

In [37]:
cand = [1140412, 1143313, 1131799, 1140109]
for c in cand:
    path = path_list[c]
    print(path)

/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/11/08/*1140412*.mp4
/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/12/17/*1143313*.mp4
/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/07/16/*1131799*.mp4
/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/11/03/*1140109*.mp4

In [32]:
for idx, v_id in enumerate(path_list):
    file_path = path_list[v_id]
    print(idx+1, v_id, file_path)
    if idx == 20:
        break

1 1115097 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/01/*1115097*.mp4
2 1115106 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/01/*1115106*.mp4
3 1115108 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/01/*1115108*.mp4
4 1115125 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/01/*1115125*.mp4
5 1115153 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/02/*1115153*.mp4
6 1115181 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/03/*1115181*.mp4
7 1115264 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/04/*1115264*.mp4
8 1115276 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/04/*1115276*.mp4
9 1115284 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/04/*1115284*.mp4
10 1115285 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/04/*1115285*.mp4
11 1115287 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/04/*1115287*.mp4
12 1115288 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/04/*1115288*.mp4
13 1115289 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/04/*1115289*.mp4
14 1115395 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/05/*1115395*.mp4
15 1115408 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/05/*1115408*.mp4
16 1115501 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/06/*1115501*.mp4
17 1115512 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/06/*1115512*.mp4
18 1115514 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/06/*1115514*.mp4
19 1115515 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/06/*1115515*.mp4
20 1115617 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/07/*1115617*.mp4
21 1115621 /var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/01/07/*1115621*.mp4

In [28]:
import pickle 
with open('econ_id_path_e.pkl', 'wb') as f:
        pickle.dump(path_list, f)

In [13]:
query_res = [1158219, 1157448, 1161457, 1140479, 1154943, 1146831, 1173758, 1198566, 1193601]
for i in query_res:
    print(path_list[i])

/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2017/06/22/*1158219*.mp4
/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2017/06/13/*1157448*.mp4
/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2017/08/01/*1161457*.mp4
/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2016/11/09/*1140479*.mp4
/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2017/05/11/*1154943*.mp4
/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2017/01/31/*1146831*.mp4
/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2018/01/09/*1173758*.mp4
/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2018/11/28/*1198566*.mp4
/var/services/homes/mbn/원천동영상/보도_MBN종합뉴스/2018/09/27/*1193601*.mp4

In [ ]:
## 데이터 확인용 ~_~

In [4]:
data_rev = pd.read_csv('data_econ_pos.csv', delimiter=';')
data_rev.head()

,ART_ID,GENRE,DATE,TITLE,CNTS,ART_POS
0,1115097,econ,2016-01-01,윤여준 만난 안철수…본격 세 규합 나서나,【 앵커멘트 】 창당 작업을 진행 중인 안철수 의원이 자신의 예전 '멘토'이던 윤...,"윤여준/NNP, 만난/VV, 안철수/NNP, …/SE, 본격/NNG, 세/MM, 규..."
1,1115106,econ,2016-01-01,소줏값에 공공요금도 들썩…장바구니 물가 비상,"【 앵커멘트 】 버스와 상하수도, 쓰레기봉투 등 공공요금이 줄줄이 오른데다, 서민...","소/NNG, 줏값/NNG, 에/JKB, 공공요금/NNG, 도/JX, 들썩/MAG, ..."
2,1115108,econ,2016-01-01,[앵커큐브] 직장인 새해 소망 1위는?,2016년 새해 여러분은 어떤 꿈을 꼭 이루고 싶으세요? 한 빅데이터 분석업체가...,"[/SS, 앵커큐브/NNG, ]/SS, 직장인/NNG, 새해/NNG, 소망/NNG,..."
3,1115125,econ,2016-01-01,[아세안원정대] 아세안경제공동체 출범…'기회의 땅' 열려,【 앵커멘트 】 매일경제 50주년을 맞아 MBN과 매일경제는 올한해 아세안 지역에...,"[/SS, 아세안원정대/NNP, ]/SS, 아세안경제공동체/NNP, 출범/NNG, ..."
4,1115153,econ,2016-01-02,올해 전세시장 더 팍팍하다…거래도 위축,【 앵커멘트 】 지난해 부동산 시장은 모처럼 활기를 띠었는데요. 올해는 만만치 ...,"올해/NNG, 전세/NNG, 시장/NNG, 더/MAG, 팍팍/XR, 하/XSA, 다..."

In [5]:
data_rev.tail()

,ART_ID,GENRE,DATE,TITLE,CNTS,ART_POS
4522,1228191,econ,2019-11-16,"""선이 사라진다""…무선 시대 본격화",【 앵커멘트 】 거추장스러운 '선'이 사라지고 있습니다. 이미 대중화된 무선 ...,"""/SS, 선/NNG, 이/JKS, 사라진/VV, 다/EC, ""/SS, …/SE, ..."
4523,1228192,econ,2019-11-16,"일본, 액체 불화수소 수출 허가…""WTO 분쟁 고려한 듯""",【 앵커멘트 】 일본 정부가 우리나라에 대한 3가지 핵심 소재에 대한 수출 규제를...,"일본/NNP, ,/SP, 액체/NNG, 불화수소/NNG, 수출/NNG, 허가/NNG..."
4524,1228220,econ,2019-11-17,"일본 ""수출규제 철회 없다"" 미국에 입장 전달",【 앵커멘트 】 일본이 지소미아 연장을 위해 수출규제를 철회할 생각이 없다는 점을...,"일본/NNP, ""/SS, 수출/NNG, 규제/NNG, 철회/NNG, 없/VA, 다/..."
4525,1228238,econ,2019-11-17,현대차 빼고 10대 그룹 '최악 부진'…영업이익 19조 줄었다,【 앵커멘트 】 우리나라 주요 그룹이 3분기 영업활동으로 벌어들인 이익이 지난해...,"현대차/NNP, 빼/VV, 고/EC, 10/SN, 대/NNB, 그룹/NNG, '/S..."
4526,1228239,econ,2019-11-17,"대한항공기, 독일 공항서 접촉 사고…21시간 운항 지연",【 앵커멘트 】 인천에서 출발해 독일 프랑크푸르트 공항에 도착해 대기 중이던 대한...,"대한/NNP, 항공기/NNG, ,/SP, 독일/NNP, 공항/NNG, 서/JKB, ..."

In [6]:
res = data_rev[ data_rev['ART_ID']==1115097 ]['CNTS'].tolist()
res

['【 앵커멘트 】  창당 작업을 진행 중인 안철수 의원이 자신의 예전 \'멘토\'이던 윤여준 전 환경부 장관을 만났습니다.  탈당파인 최재천 의원과도 접촉하는 등 인재영입에 속도를 내고 있습니다.   김한준 기자입니다.   【 기자 】  앞치마를 두르고 떡국을 나눠주는 안철수 의원.   새해 첫날 자신의 지역구 주민들에게 떡국을 돌린 뒤 안 의원은 공식 일정을 마무리했습니다.   오는 10일 예정된 신당 창립준비위원회 발족에 맞춰 인재 영입에 시간을 더 쓰기 위해 공식 일정을 최소화한 것으로 분석됩니다.   실제로 안 의원의 인재 영입은 속도를 내고 있습니다.   우선 한때 자신의 \'멘토\'로 불린 윤여준 전 환경부 장관의 신당 합류 가능성이 점쳐집니다.   윤 전 장관은 지난 2014년 3월 안 의원이 당시 민주당과의 통합을 자신과 상의 없이 결정하면서 동행을 끝냈지만,   지난달 30일 서울 모처에서 저녁식사를 함께하며 예전의 관계를 어느 정도 회복한 것으로 알려졌습니다.  ▶ 인터뷰(☎) : 윤여준 / 전 환경부 장관 - "(안 의원이) 모든 문제에 대해서 분명한 자기 견해를 말하더라고요. 똑 떨어지게. 많은 걸 겪으면서 정치적인 판단력이 생겼다는 뜻도 되겠죠."    안 의원은 또 더불어민주당을 탈당한 \'무소속 인사\'들과도 접촉을 이어가고 있습니다.    최근에는 최재천 무소속 의원에게 전화해보았느냐고 측근에게 문자를 보내는 모습이 언론 카메라에 포착되기도 했습니다.   당에 활력을 불어넣을 \'새 피\'를 수혈하기 위한 안 의원의 영입전은 남은 연휴 기간 내내 계속될 전망입니다.   MBN뉴스 김한준입니다.  [beremoth@hanmail.net]  영상편집 : 홍승연']

In [ ]:
### for reco_v2 : 각 기사의 date 정보 따로 저장 --> date_diff score 계산

In [7]:
date_list = data_rev['DATE'].tolist()

In [176]:
import pickle 
with open('base_datelist_e.pkl', 'wb') as f:
        pickle.dump(date_list, f)

In [177]:
def cal_datediff(query_idx, date_list):
    date_diff = []
    for cand_date in date_list:
        q_date = date.fromisoformat(date_list[query_idx])
        c_date = date.fromisoformat(cand_date)
        dist_1 = (q_date - c_date)
        dist_2 = (dist_1.days)**2
        date_diff.append(dist_2)
        
    max_ = max(date_diff)
    date_diff_n = list(round(diff / max_, 6) for diff in date_diff)

    return date_diff_n

4527 39499

In [178]:
date_diff_n = cal_datediff(249, date_list)

In [180]:
print(len(date_list), len(date_diff_n), max(date_diff_n), min(date_diff_n))

4527 4527 1.0 0.0

In [1]:
### for reco_v1 & reco_v2 : 기존 POS Tagging 정보 활용 TF-IDF 기반 Cosine Similarity 계산

In [150]:
sample = data_rev['ART_POS'][0]
to_list = sample.split(',')
print(to_list[:10])

['2016/SN', ' 병신년/NNG', " '/SS", ' 희망/NNG', ' 이/JKS', ' 솟/VV', ' 았/EP', ' 다/EC', " '/SS", ' …/SE']

In [151]:
tag_list = ['NNG', 'NNP', 'VV', 'VA', 'MAG', 'MAJ', 'MM', 'IC', 'SL']

res = [ tok.split('/')[0].strip() for tok in to_list if tok.split('/')[-1] in tag_list ]
print(res)

['병신년', '희망', '솟', '해맞이', '명소', '북적', '앵커', '멘트', '병신년', '새해', '밝', '전국', '해맞이', '명소', '가', '곳', '인산인해', '이뤘', '새해', '첫날', '맞', '표정', '박상호', '기자', '전해', '기자', '긴', '어둠', '뚫', '수평선', '위', '고개', '내민', '태양', '이내', '온', '누리', '붉은빛', '물들입', '병신년', '첫', '해', '가슴', '속', '품', '시민', '두', '손', '모아', '희망찬', '새해', '기원', '인터뷰', '서상호', '부산', '수영동', '가족', '건강', '올해', '일', '좀', '잘', '되', '빌', '갑', '태백산맥', '집어삼킬', '함백산', '휘감', '장엄', '빛줄기', '반도', '남쪽', '제주도', '어김없이', '새해', '첫', '아침', '밝', '설렘', '기대', '해', '뜨', '기다렸', '시민', '다', '함께', '새해', '소망', '적', '풍선', '하늘', '높이', '날려', '보냅', '인터뷰', '백승원', '서울', '금호동', '아버지', '일', '잘', '풀리', '동생', '공부', '잘', '인터뷰', '황재희', '울산', '우정동', '해', '저렇', '밝', '크', '올', '한', '해', '모든', '일', '다', '잘', '될', '같', '오전', '독도', '가장', '먼저', '모습', '드러낸', '새해', '첫', '태양', '한반도', '내륙', '오전', '울산', '간절곶', '시작', '붉은빛', '머금', '태양', '온기', '전해', '스탠딩', '박상호', '기자', '힘차', '솟구친', '태양', '붉', '원숭이', '기운', '받', '시민', '병신년', '첫날', '아침', '활기차', '현장음', '새해', '복', '많이', '받', 'MBN', '뉴스', '박상호', 'psh', 'hanmail', 'net', '영상', '취재', '정운호', '이우진', '전범수', '기자', '영상', '편집', '이소영']

In [11]:
#from khaiii import KhaiiiApi
#api = KhaiiiApi()

In [8]:
# 전처리 / POS Tagging 완료된 데이터 (POSA Column) 이용해서 TF-IDF 계산

def _posa_to_token(train_data, train=False):
    posa_to_token = []
    vocab = []
    tag_list = ['NNG', 'NNP', 'VV', 'VA', 'MAG', 'MAJ', 'MM', 'IC' ] ## to be modified

    for idx in range(len(train_data)):
        try:
            txt = train_data['ART_POS'][idx]
            pos_lst = txt.split(',')
            tok_lst = [ pos.split('/')[0].strip() for pos in pos_lst if pos.split('/')[-1] in tag_list ]
            vocab.extend(tok_lst)
            
        except:
            vocab.append('.')
            token_lst.append('.')
            
        posa_to_token.append(tok_lst)
            
    #print(title_to_token[-10:])
    return posa_to_token, vocab

In [10]:
##

txt_to_tok, vocab = _posa_to_token(data_rev)
print( len(txt_to_tok), len(vocab) )

4527 690295

In [11]:
from collections import Counter 

c_vocab = Counter(vocab)
c_vocab.most_common(200)

[('기자', 12096),
 ('있', 7420),
 ('인터뷰', 7081),
 ('영상', 5898),
 ('뉴스', 4733),
 ('앵커', 4003),
 ('멘트', 3949),
 ('취재', 3297),
 ('한', 3285),
 ('없', 3251),
 ('편집', 3077),
 ('정부', 2996),
 ('하', 2565),
 ('받', 2405),
 ('서울', 2360),
 ('이', 2046),
 ('같', 2023),
 ('안', 1977),
 ('더', 1895),
 ('전', 1876),
 ('시장', 1779),
 ('이상', 1647),
 ('되', 1568),
 ('기업', 1519),
 ('많', 1518),
 ('스탠딩', 1487),
 ('가격', 1453),
 ('회장', 1441),
 ('아파트', 1392),
 ('경제', 1388),
 ('업체', 1359),
 ('사람', 1351),
 ('때', 1342),
 ('지난', 1340),
 ('보', 1308),
 ('해', 1303),
 ('넘', 1269),
 ('대한', 1268),
 ('문제', 1241),
 ('이번', 1230),
 ('중국', 1202),
 ('가능', 1185),
 ('정도', 1159),
 ('조사', 1142),
 ('오늘', 1141),
 ('곳', 1127),
 ('국내', 1125),
 ('했', 1125),
 ('하지만', 1114),
 ('상황', 1101),
 ('일본', 1101),
 ('시간', 1095),
 ('한국', 1093),
 ('지난해', 1087),
 ('제품', 1080),
 ('많이', 1071),
 ('지역', 1057),
 ('달', 1031),
 ('높', 1028),
 ('위해', 1019),
 ('경우', 1019),
 ('좋', 1011),
 ('최근', 1008),
 ('보도', 993),
 ('미국', 977),
 ('관계자', 971),
 ('부동산', 966),
 ('올해', 958),
 ('배', 948),
 ('일', 918),
 ('두', 892),
 ('전망', 888),
 ('지금', 881),
 ('대출', 878),
 ('금융', 874),
 ('소비자', 859),
 ('가운데', 856),
 ('또', 855),
 ('금리', 853),
 ('가장', 845),
 ('대해', 844),
 ('분양', 843),
 ('주택', 832),
 ('차량', 831),
 ('늘', 827),
 ('차', 825),
 ('앞', 820),
 ('이런', 814),
 ('대표', 811),
 ('필요', 809),
 ('찾', 808),
 ('시작', 806),
 ('다른', 798),
 ('큰', 797),
 ('안전', 797),
 ('투자', 792),
 ('들', 789),
 ('나오', 786),
 ('주', 783),
 ('대책', 780),
 ('돈', 779),
 ('기준', 775),
 ('김경기', 768),
 ('말', 766),
 ('우려', 761),
 ('경기', 760),
 ('집', 756),
 ('판매', 755),
 ('최대', 747),
 ('확인', 744),
 ('수출', 742),
 ('숫자', 739),
 ('사실', 737),
 ('사고', 736),
 ('이후', 726),
 ('신동규', 724),
 ('규모', 723),
 ('규제', 720),
 ('먹', 717),
 ('모두', 714),
 ('세계', 710),
 ('특히', 703),
 ('생각', 701),
 ('거래', 696),
 ('사업', 691),
 ('가', 681),
 ('피해', 680),
 ('은행', 675),
 ('통해', 674),
 ('정주영', 674),
 ('보입', 671),
 ('사용', 669),
 ('대통령', 661),
 ('뒤', 656),
 ('결과', 656),
 ('발생', 656),
 ('계속', 647),
 ('밝혔', 644),
 ('기술', 642),
 ('회사', 641),
 ('크', 638),
 ('우리나라', 635),
 ('이렇', 634),
 ('현장', 633),
 ('산업', 629),
 ('관련', 628),
 ('됐', 627),
 ('그', 621),
 ('그런데', 621),
 ('직원', 616),
 ('예상', 596),
 ('일부', 594),
 ('인기', 590),
 ('입장', 588),
 ('대', 586),
 ('인상', 584),
 ('줄', 582),
 ('값', 580),
 ('이용', 578),
 ('추가', 572),
 ('수준', 571),
 ('고객', 571),
 ('점', 568),
 ('다시', 566),
 ('맞', 564),
 ('부담', 563),
 ('된', 563),
 ('개발', 561),
 ('따라', 561),
 ('오', 560),
 ('직접', 556),
 ('내', 555),
 ('계획', 553),
 ('알려', 551),
 ('못', 548),
 ('만들', 547),
 ('정책', 544),
 ('예정', 543),
 ('될', 543),
 ('사', 542),
 ('관리', 542),
 ('성장', 536),
 ('함께', 533),
 ('논란', 529),
 ('현재', 529),
 ('국민', 529),
 ('간', 529),
 ('건축', 528),
 ('보험', 524),
 ('합', 518),
 ('자동차', 516),
 ('이혁준', 514),
 ('하루', 512),
 ('보이', 509),
 ('할', 508),
 ('역시', 506),
 ('서비스', 505),
 ('대상', 503),
 ('가구', 502),
 ('잘', 501)]

In [12]:
once = [k for k, v in c_vocab.most_common()]

In [13]:
print(len(once), once[:10])

32332 ['기자', '있', '인터뷰', '영상', '뉴스', '앵커', '멘트', '취재', '한', '없']

In [14]:
from collections import Counter

def _get_fin_vocab(vocab):
    fin_vocab = {}
    
    c_vocab = Counter(vocab)
    cnt = len(fin_vocab)
    for voca in c_vocab:
        if (c_vocab[voca] < 25000) and (c_vocab[voca] > 1):
            fin_vocab[voca] = cnt
            cnt += 1
            
    return fin_vocab

In [15]:
def _tok_to_idx(tok_plylst, fin_vocab):
    res_idx = []
    for tok in tok_plylst:
        if tok in fin_vocab:
            res_idx.append(fin_vocab[tok])
        else:
            pass
        
    return res_idx

In [16]:
##

fin_vocab = _get_fin_vocab(vocab)
print('fin voca #:', len(fin_vocab))

txt_to_idx = []

for article in txt_to_tok:
    res_idx = _tok_to_idx(article, fin_vocab)
    txt_to_idx.append(res_idx)

fin voca #: 19348

In [17]:
## build article - voca (sparse) matrix (as the source of tf-idf matrix)

def _preproc_for_csr(txt_to_idx, from_idx=0):
    user_lst = []
    vocab_lst = []

    for idx, title in enumerate(txt_to_idx[from_idx:]):
        uid = from_idx + idx
        uid_lst = []
        for tok in title:
            vocab_lst.append(tok)
            user_lst.append(uid)             

    return user_lst, vocab_lst

In [18]:
user_lst, vocab_lst = _preproc_for_csr(txt_to_idx)

rows = np.array(user_lst)
cols = np.array(vocab_lst)
data = np.ones(len(user_lst))
data.shape

(677311,)

In [191]:
import scipy.sparse as sp

usr_itm_mat = sp.csr_matrix((data, (rows, cols)), shape=(len(txt_to_tok), len(fin_vocab)))
usr_itm_mat.shape

(4527, 19348)

In [192]:
from sklearn.feature_extraction.text import TfidfTransformer

def _build_tfidf_mat(usr_itm_mat):
    tfidf_trans = TfidfTransformer()
    tfidf_mat = tfidf_trans.fit_transform(usr_itm_mat)
    
    return tfidf_mat

In [193]:
tfidf_mat = _build_tfidf_mat(usr_itm_mat)

In [197]:
def _get_sim_mat(tfidf_mat):
    cos_sim = linear_kernel(tfidf_mat, tfidf_mat)
        
    return cos_sim

cos_sim_mat = _get_sim_mat(tfidf_mat)

In [198]:
def _mapping_artid_to_idx(data_df):
    artid_to_idx = {}
    idx_to_artid = {}
    for idx in range(len(data_df)):
        art_id = data_df['ART_ID'][idx]
        artid_to_idx[art_id] = idx
        idx_to_artid[idx] = art_id

    return artid_to_idx, idx_to_artid

artid_to_idx, idx_to_artid = _mapping_artid_to_idx(data_rev)

In [199]:
artid_to_idx

{1115097: 0,
 1115106: 1,
 1115108: 2,
 1115125: 3,
 1115153: 4,
 1115181: 5,
 1115264: 6,
 1115276: 7,
 1115284: 8,
 1115285: 9,
 1115287: 10,
 1115288: 11,
 1115289: 12,
 1115395: 13,
 1115408: 14,
 1115501: 15,
 1115512: 16,
 1115514: 17,
 1115515: 18,
 1115617: 19,
 1115621: 20,
 1115624: 21,
 1115625: 22,
 1115727: 23,
 1115738: 24,
 1115740: 25,
 1115800: 26,
 1115802: 27,
 1115833: 28,
 1115934: 29,
 1115935: 30,
 1115948: 31,
 1116045: 32,
 1116052: 33,
 1116159: 34,
 1116161: 35,
 1116162: 36,
 1116164: 37,
 1116246: 38,
 1116247: 39,
 1116261: 40,
 1116262: 41,
 1116272: 42,
 1116274: 43,
 1116382: 44,
 1116385: 45,
 1116445: 46,
 1116449: 47,
 1116482: 48,
 1116488: 49,
 1116580: 50,
 1116678: 51,
 1116681: 52,
 1116682: 53,
 1116683: 54,
 1116777: 55,
 1116778: 56,
 1116782: 57,
 1116893: 58,
 1116894: 59,
 1117009: 60,
 1117010: 61,
 1117061: 62,
 1117106: 63,
 1117175: 64,
 1117201: 65,
 1117213: 66,
 1117308: 67,
 1117309: 68,
 1117310: 69,
 1117313: 70,
 1117324: 71,
 1117425: 72,
 1117427: 73,
 1117537: 74,
 1117545: 75,
 1117546: 76,
 1117634: 77,
 1117635: 78,
 1117678: 79,
 1117679: 80,
 1117691: 81,
 1117693: 82,
 1117725: 83,
 1117726: 84,
 1117797: 85,
 1117822: 86,
 1117823: 87,
 1117913: 88,
 1117914: 89,
 1117925: 90,
 1118036: 91,
 1118051: 92,
 1118052: 93,
 1118147: 94,
 1118160: 95,
 1118244: 96,
 1118245: 97,
 1118265: 98,
 1118269: 99,
 1118316: 100,
 1118319: 101,
 1118389: 102,
 1118433: 103,
 1118442: 104,
 1118489: 105,
 1118492: 106,
 1118574: 107,
 1118575: 108,
 1118593: 109,
 1118672: 110,
 1118674: 111,
 1118675: 112,
 1118697: 113,
 1118700: 114,
 1118754: 115,
 1118794: 116,
 1118909: 117,
 1118996: 118,
 1119092: 119,
 1119097: 120,
 1119202: 121,
 1119205: 122,
 1119206: 123,
 1119208: 124,
 1119315: 125,
 1119316: 126,
 1119317: 127,
 1119318: 128,
 1119365: 129,
 1119366: 130,
 1119367: 131,
 1119385: 132,
 1119404: 133,
 1119407: 134,
 1119408: 135,
 1119507: 136,
 1119508: 137,
 1119509: 138,
 1119620: 139,
 1119627: 140,
 1119628: 141,
 1119629: 142,
 1119735: 143,
 1119736: 144,
 1119842: 145,
 1119946: 146,
 1119947: 147,
 1119951: 148,
 1119952: 149,
 1119983: 150,
 1120002: 151,
 1120007: 152,
 1120044: 153,
 1120047: 154,
 1120138: 155,
 1120142: 156,
 1120143: 157,
 1120202: 158,
 1120306: 159,
 1120308: 160,
 1120309: 161,
 1120311: 162,
 1120312: 163,
 1120399: 164,
 1120422: 165,
 1120425: 166,
 1120533: 167,
 1120534: 168,
 1120595: 169,
 1120596: 170,
 1120628: 171,
 1120733: 172,
 1120737: 173,
 1120743: 174,
 1120745: 175,
 1120837: 176,
 1120839: 177,
 1120840: 178,
 1120841: 179,
 1120849: 180,
 1120934: 181,
 1120935: 182,
 1120936: 183,
 1120937: 184,
 1120953: 185,
 1120954: 186,
 1121068: 187,
 1121070: 188,
 1121071: 189,
 1121078: 190,
 1121080: 191,
 1121192: 192,
 1121240: 193,
 1121265: 194,
 1121266: 195,
 1121367: 196,
 1121368: 197,
 1121369: 198,
 1121370: 199,
 1121379: 200,
 1121380: 201,
 1121467: 202,
 1121469: 203,
 1121482: 204,
 1121573: 205,
 1121684: 206,
 1121767: 207,
 1121783: 208,
 1121784: 209,
 1121841: 210,
 1121844: 211,
 1121883: 212,
 1121885: 213,
 1121980: 214,
 1121981: 215,
 1122076: 216,
 1122189: 217,
 1122191: 218,
 1122294: 219,
 1122389: 220,
 1122391: 221,
 1122451: 222,
 1122486: 223,
 1122487: 224,
 1122583: 225,
 1122673: 226,
 1122674: 227,
 1122675: 228,
 1122776: 229,
 1122872: 230,
 1122874: 231,
 1122952: 232,
 1122966: 233,
 1123005: 234,
 1123020: 235,
 1123162: 236,
 1123268: 237,
 1123357: 238,
 1123360: 239,
 1123361: 240,
 1123458: 241,
 1123459: 242,
 1123468: 243,
 1123534: 244,
 1123547: 245,
 1123555: 246,
 1123556: 247,
 1123605: 248,
 1123608: 249,
 1123639: 250,
 1123727: 251,
 1123932: 252,
 1123944: 253,
 1124035: 254,
 1124037: 255,
 1124066: 256,
 1124079: 257,
 1124081: 258,
 1124083: 259,
 1124085: 260,
 1124189: 261,
 1124210: 262,
 1124328: 263,
 1124331: 264,
 1124420: 265,
 1124424: 266,
 1124425: 267,
 1124426: 268,
 1124513: 269,
 1124525: 270,
 1124526: 271,
 1124529: 272,
 1124605: 273,
 1124606: 274,
 1124674: 275,
 1124676: 276,
 1124679: 277,
 1124716: 278,
 1124717: 279,
 1124784: 280,
 1124785: 281,
 1124786: 282,
 1124789: 283,
 1124813: 284,
 1124814: 285,
 1124908: 286,
 1124915: 287,
 1124916: 288,
 1124921: 289,
 1125025: 290,
 1125026: 291,
 1125027: 292,
 1125029: 293,
 1125031: 294,
 1125034: 295,
 1125106: 296,
 1125107: 297,
 1125123: 298,
 1125131: 299,
 1125203: 300,
 1125224: 301,
 1125225: 302,
 1125232: 303,
 1125271: 304,
 1125274: 305,
 1125276: 306,
 1125278: 307,
 1125279: 308,
 1125296: 309,
 1125315: 310,
 1125319: 311,
 1125390: 312,
 1125391: 313,
 1125392: 314,
 1125407: 315,
 1125408: 316,
 1125486: 317,
 1125496: 318,
 1125497: 319,
 1125500: 320,
 1125578: 321,
 1125598: 322,
 1125606: 323,
 1125649: 324,
 1125657: 325,
 1125662: 326,
 1125700: 327,
 1125703: 328,
 1125704: 329,
 1125707: 330,
 1125712: 331,
 1125751: 332,
 1125757: 333,
 1125869: 334,
 1125885: 335,
 1125984: 336,
 1125985: 337,
 1126059: 338,
 1126076: 339,
 1126084: 340,
 1126087: 341,
 1126089: 342,
 1126192: 343,
 1126196: 344,
 1126200: 345,
 1126204: 346,
 1126354: 347,
 1126355: 348,
 1126356: 349,
 1126395: 350,
 1126495: 351,
 1126499: 352,
 1126500: 353,
 1126501: 354,
 1126512: 355,
 1126613: 356,
 1126701: 357,
 1126704: 358,
 1126713: 359,
 1126825: 360,
 1126828: 361,
 1126927: 362,
 1126930: 363,
 1126931: 364,
 1126932: 365,
 1126982: 366,
 1126984: 367,
 1126987: 368,
 1127013: 369,
 1127026: 370,
 1127027: 371,
 1127115: 372,
 1127123: 373,
 1127124: 374,
 1127125: 375,
 1127129: 376,
 1127139: 377,
 1127227: 378,
 1127228: 379,
 1127229: 380,
 1127230: 381,
 1127232: 382,
 1127344: 383,
 1127434: 384,
 1127444: 385,
 1127450: 386,
 1127537: 387,
 1127549: 388,
 1127553: 389,
 1127555: 390,
 1127557: 391,
 1127603: 392,
 1127607: 393,
 1127650: 394,
 1127739: 395,
 1127751: 396,
 1127834: 397,
 1127835: 398,
 1127836: 399,
 1127856: 400,
 1127941: 401,
 1127950: 402,
 1127952: 403,
 1128045: 404,
 1128051: 405,
 1128052: 406,
 1128055: 407,
 1128058: 408,
 1128066: 409,
 1128152: 410,
 1128155: 411,
 1128211: 412,
 1128212: 413,
 1128213: 414,
 1128255: 415,
 1128298: 416,
 1128301: 417,
 1128305: 418,
 1128368: 419,
 1128369: 420,
 1128384: 421,
 1128389: 422,
 1128390: 423,
 1128494: 424,
 1128504: 425,
 1128505: 426,
 1128507: 427,
 1128583: 428,
 1128599: 429,
 1128600: 430,
 1128601: 431,
 1128611: 432,
 1128615: 433,
 1128690: 434,
 1128715: 435,
 1128755: 436,
 1128756: 437,
 1128757: 438,
 1128759: 439,
 1128764: 440,
 1128804: 441,
 1128877: 442,
 1128878: 443,
 1128881: 444,
 1128895: 445,
 1128971: 446,
 1128989: 447,
 1128994: 448,
 1128997: 449,
 1129090: 450,
 1129091: 451,
 1129095: 452,
 1129096: 453,
 1129097: 454,
 1129098: 455,
 1129105: 456,
 1129212: 457,
 1129215: 458,
 1129311: 459,
 1129312: 460,
 1129318: 461,
 1129320: 462,
 1129324: 463,
 1129362: 464,
 1129369: 465,
 1129372: 466,
 1129404: 467,
 1129501: 468,
 1129505: 469,
 1129507: 470,
 1129588: 471,
 1129589: 472,
 1129616: 473,
 1129699: 474,
 1129713: 475,
 1129803: 476,
 1129805: 477,
 1129806: 478,
 1129818: 479,
 1129820: 480,
 1129821: 481,
 1129826: 482,
 1129893: 483,
 1129894: 484,
 1129915: 485,
 1129920: 486,
 1129950: 487,
 1129951: 488,
 1129953: 489,
 1129954: 490,
 1129966: 491,
 1129968: 492,
 1129990: 493,
 1130002: 494,
 1130011: 495,
 1130076: 496,
 1130077: 497,
 1130078: 498,
 1130093: 499,
 1130094: 500,
 1130189: 501,
 1130190: 502,
 1130191: 503,
 1130213: 504,
 1130215: 505,
 1130217: 506,
 1130313: 507,
 1130322: 508,
 1130323: 509,
 1130325: 510,
 1130435: 511,
 1130438: 512,
 1130443: 513,
 1130444: 514,
 1130446: 515,
 1130447: 516,
 1130541: 517,
 1130545: 518,
 1130571: 519,
 1130592: 520,
 1130598: 521,
 1130600: 522,
 1130601: 523,
 1130630: 524,
 1130631: 525,
 1130633: 526,
 1130730: 527,
 1130734: 528,
 1130735: 529,
 1130736: 530,
 1130779: 531,
 1130831: 532,
 1130832: 533,
 1130835: 534,
 1130836: 535,
 1130837: 536,
 1130930: 537,
 1130947: 538,
 1130948: 539,
 1130950: 540,
 1131030: 541,
 1131037: 542,
 1131048: 543,
 1131049: 544,
 1131051: 545,
 1131052: 546,
 1131127: 547,
 1131147: 548,
 1131149: 549,
 1131194: 550,
 1131230: 551,
 1131301: 552,
 1131302: 553,
 1131313: 554,
 1131319: 555,
 1131324: 556,
 1131418: 557,
 1131419: 558,
 1131424: 559,
 1131436: 560,
 1131439: 561,
 1131536: 562,
 1131545: 563,
 1131546: 564,
 1131547: 565,
 1131559: 566,
 1131641: 567,
 1131642: 568,
 1131643: 569,
 1131741: 570,
 1131742: 571,
 1131745: 572,
 1131746: 573,
 1131781: 574,
 1131796: 575,
 1131799: 576,
 1131921: 577,
 1132016: 578,
 1132017: 579,
 1132018: 580,
 1132019: 581,
 1132032: 582,
 1132128: 583,
 1132130: 584,
 1132136: 585,
 1132139: 586,
 1132230: 587,
 1132231: 588,
 1132233: 589,
 1132234: 590,
 1132320: 591,
 1132328: 592,
 1132329: 593,
 1132330: 594,
 1132331: 595,
 1132332: 596,
 1132340: 597,
 1132341: 598,
 1132350: 599,
 1132393: 600,
 1132394: 601,
 1132436: 602,
 1132520: 603,
 1132521: 604,
 1132524: 605,
 1132531: 606,
 1132532: 607,
 1132533: 608,
 1132625: 609,
 1132637: 610,
 1132638: 611,
 1132639: 612,
 1132750: 613,
 1132828: 614,
 1132848: 615,
 1132849: 616,
 1132860: 617,
 1132935: 618,
 1132946: 619,
 1132947: 620,
 1132955: 621,
 1132966: 622,
 1133028: 623,
 1133040: 624,
 1133041: 625,
 1133045: 626,
 1133046: 627,
 1133125: 628,
 1133126: 629,
 1133134: 630,
 1133214: 631,
 1133215: 632,
 1133227: 633,
 1133314: 634,
 1133328: 635,
 1133330: 636,
 1133396: 637,
 1133417: 638,
 1133498: 639,
 1133546: 640,
 1133547: 641,
 1133548: 642,
 1133549: 643,
 1133587: 644,
 1133651: 645,
 1133652: 646,
 1133670: 647,
 1133671: 648,
 1133738: 649,
 1133739: 650,
 1133740: 651,
 1133741: 652,
 1133744: 653,
 1133842: 654,
 1133849: 655,
 1133851: 656,
 1133860: 657,
 1133914: 658,
 1133938: 659,
 1133939: 660,
 1133940: 661,
 1133942: 662,
 1134004: 663,
 1134009: 664,
 1134011: 665,
 1134012: 666,
 1134072: 667,
 1134094: 668,
 1134102: 669,
 1134109: 670,
 1134110: 671,
 1134145: 672,
 1134207: 673,
 1134212: 674,
 1134220: 675,
 1134222: 676,
 1134292: 677,
 1134299: 678,
 1134378: 679,
 1134380: 680,
 1134387: 681,
 1134389: 682,
 1134468: 683,
 1134473: 684,
 1134475: 685,
 1134511: 686,
 1134512: 687,
 1134514: 688,
 1134515: 689,
 1134550: 690,
 1134551: 691,
 1134619: 692,
 1134622: 693,
 1134632: 694,
 1134703: 695,
 1134709: 696,
 1134712: 697,
 1134798: 698,
 1134807: 699,
 1134810: 700,
 1134874: 701,
 1134875: 702,
 1134897: 703,
 1134903: 704,
 1134958: 705,
 1134959: 706,
 1134973: 707,
 1134981: 708,
 1134986: 709,
 1135016: 710,
 1135029: 711,
 1135055: 712,
 1135064: 713,
 1135155: 714,
 1135156: 715,
 1135157: 716,
 1135162: 717,
 1135167: 718,
 1135229: 719,
 1135230: 720,
 1135245: 721,
 1135249: 722,
 1135348: 723,
 1135350: 724,
 1135429: 725,
 1135439: 726,
 1135440: 727,
 1135441: 728,
 1135518: 729,
 1135521: 730,
 1135522: 731,
 1135527: 732,
 1135537: 733,
 1135574: 734,
 1135575: 735,
 1135582: 736,
 1135613: 737,
 1135616: 738,
 1135622: 739,
 1135700: 740,
 1135701: 741,
 1135702: 742,
 1135708: 743,
 1135709: 744,
 1135793: 745,
 1135797: 746,
 1135798: 747,
 1135876: 748,
 1135878: 749,
 1135890: 750,
 1135891: 751,
 1135972: 752,
 1135980: 753,
 1135981: 754,
 1135991: 755,
 1136079: 756,
 1136123: 757,
 1136128: 758,
 1136154: 759,
 1136162: 760,
 1136240: 761,
 1136241: 762,
 1136246: 763,
 1136326: 764,
 1136327: 765,
 1136328: 766,
 1136337: 767,
 1136340: 768,
 1136395: 769,
 1136439: 770,
 1136460: 771,
 1136463: 772,
 1136468: 773,
 1136469: 774,
 1136515: 775,
 1136554: 776,
 1136621: 777,
 1136622: 778,
 1136624: 779,
 1136726: 780,
 1136730: 781,
 1136820: 782,
 1136930: 783,
 1136933: 784,
 1136997: 785,
 1137006: 786,
 1137009: 787,
 1137051: 788,
 1137058: 789,
 1137062: 790,
 1137067: 791,
 1137086: 792,
 1137088: 793,
 1137169: 794,
 1137170: 795,
 1137174: 796,
 1137261: 797,
 1137275: 798,
 1137277: 799,
 1137353: 800,
 1137354: 801,
 1137369: 802,
 1137373: 803,
 1137467: 804,
 1137468: 805,
 1137478: 806,
 1137490: 807,
 1137558: 808,
 1137559: 809,
 1137562: 810,
 1137566: 811,
 1137619: 812,
 1137620: 813,
 1137665: 814,
 1137666: 815,
 1137702: 816,
 1137707: 817,
 1137773: 818,
 1137792: 819,
 1137869: 820,
 1137881: 821,
 1137882: 822,
 1137883: 823,
 1137884: 824,
 1137962: 825,
 1137969: 826,
 1137971: 827,
 1137974: 828,
 1138050: 829,
 1138051: 830,
 1138096: 831,
 1138099: 832,
 1138100: 833,
 1138140: 834,
 1138141: 835,
 1138142: 836,
 1138228: 837,
 1138231: 838,
 1138235: 839,
 1138324: 840,
 1138325: 841,
 1138326: 842,
 1138337: 843,
 1138339: 844,
 1138424: 845,
 1138425: 846,
 1138426: 847,
 1138427: 848,
 1138428: 849,
 1138441: 850,
 1138510: 851,
 1138522: 852,
 1138530: 853,
 1138533: 854,
 1138651: 855,
 1138652: 856,
 1138653: 857,
 1138654: 858,
 1138687: 859,
 1138689: 860,
 1138690: 861,
 1138692: 862,
 1138773: 863,
 1138776: 864,
 1138863: 865,
 1138864: 866,
 1138865: 867,
 1138870: 868,
 1139062: 869,
 1139142: 870,
 1139188: 871,
 1139189: 872,
 1139190: 873,
 1139213: 874,
 1139228: 875,
 1139229: 876,
 1139230: 877,
 1139308: 878,
 1139310: 879,
 1139381: 880,
 1139402: 881,
 1139574: 882,
 1139575: 883,
 1139584: 884,
 1139589: 885,
 1139652: 886,
 1139653: 887,
 1139660: 888,
 1139663: 889,
 1139673: 890,
 1139710: 891,
 1139722: 892,
 1139750: 893,
 1139816: 894,
 1139817: 895,
 1139900: 896,
 1139901: 897,
 1139902: 898,
 1139903: 899,
 1139920: 900,
 1140013: 901,
 1140014: 902,
 1140096: 903,
 1140097: 904,
 1140099: 905,
 1140109: 906,
 1140110: 907,
 1140165: 908,
 1140166: 909,
 1140167: 910,
 1140168: 911,
 1140226: 912,
 1140258: 913,
 1140275: 914,
 1140341: 915,
 1140342: 916,
 1140354: 917,
 1140408: 918,
 1140412: 919,
 1140415: 920,
 1140419: 921,
 1140479: 922,
 1140483: 923,
 1140486: 924,
 1140493: 925,
 1140495: 926,
 1140558: 927,
 1140559: 928,
 1140570: 929,
 1140571: 930,
 1140578: 931,
 1140581: 932,
 1140651: 933,
 1140653: 934,
 1140803: 935,
 1140887: 936,
 1140889: 937,
 1140893: 938,
 1140982: 939,
 1141051: 940,
 1141052: 941,
 1141066: 942,
 1141135: 943,
 1141138: 944,
 1141240: 945,
 1141241: 946,
 1141322: 947,
 1141401: 948,
 1141493: 949,
 1141495: 950,
 1141496: 951,
 1141568: 952,
 1141580: 953,
 1141584: 954,
 1141672: 955,
 1141751: 956,
 1141757: 957,
 1141831: 958,
 1141833: 959,
 1141930: 960,
 1141931: 961,
 1141934: 962,
 1142016: 963,
 1142017: 964,
 1142107: 965,
 1142108: 966,
 1142109: 967,
 1142194: 968,
 1142284: 969,
 1142289: 970,
 1142363: 971,
 1142372: 972,
 1142373: 973,
 1142431: 974,
 1142439: 975,
 1142450: 976,
 1142541: 977,
 1142542: 978,
 1142543: 979,
 1142544: 980,
 1142633: 981,
 1142634: 982,
 1142721: 983,
 1142775: 984,
 1142895: 985,
 1142902: 986,
 1142904: 987,
 1142906: 988,
 1142908: 989,
 1142910: 990,
 1142999: 991,
 1143090: 992,
 1143180: 993,
 1143182: 994,
 1143185: 995,
 1143254: 996,
 1143260: 997,
 1143262: 998,
 1143263: 999,
 ...}

In [ ]:
## reco_v1 & reco_v2 모델 결과 비교

In [236]:
#query_id = 1115285
query_id = 1143541

In [202]:
def update_simsco(sim_scores, datediff):
    new_simsco = []
    for idx, score in sim_scores:
        new_score = score - datediff[idx]
        new_simsco.append((idx, new_score))
    
    return new_simsco

In [231]:
def _get_sim_res_v1(query_id, topn):
    
    query_idx = artid_to_idx[query_id]

    sim_scores = list(enumerate(cos_sim_mat[query_idx]))
       
    new_sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    top_sim_scores = new_sim_scores[1:topn+1]
    top_sim_indices = [i[0] for i in top_sim_scores]
    top_sim_ids = [idx_to_artid[i] for i in top_sim_indices]

    return top_sim_ids

In [241]:
res_v1 = _get_sim_res_v1(query_id, topn=10)

In [223]:
def _get_sim_res_v2(query_id, topn):
    
    query_idx = artid_to_idx[query_id]

    sim_scores = list(enumerate(cos_sim_mat[query_idx]))
    date_diff_n = calc_datediff(query_idx, date_list)
    new_sim_scores = update_simsco(sim_scores, date_diff_n)
    
    new_sim_scores = sorted(new_sim_scores, key=lambda x: x[1], reverse=True)
    top_sim_scores = new_sim_scores[1:topn+1]
    top_sim_indices = [i[0] for i in top_sim_scores]
    top_sim_ids = [idx_to_artid[i] for i in top_sim_indices]

    return top_sim_ids

In [237]:
res_v2 = _get_sim_res_v2(query_id, topn=10)

In [239]:
data_rev[ data_rev['ART_ID'] == 1143541]

,ART_ID,GENRE,DATE,TITLE,CNTS,ART_POS
1014,1143541,econ,2016-12-20,살충제·방향제 '펑'…부주의 땐 폭발 · 화재 '위험',【 앵커멘트 】 주방에서 벌레를 잡으려고 살충제를 뿌린 뒤 가스불을 켜면 어떻게 ...,"살충제/NNG, ·/SP, 방향제/NNG, '/SS, 펑/NNG, '/SS, …/S..."

In [242]:
for item in res_v1:
    res = data_rev[ data_rev['ART_ID'] == item ][['ART_ID', 'GENRE', 'DATE', 'TITLE']]
    print(res)

       ART_ID GENRE        DATE                           TITLE
1699  1162594  econ  2017-08-16  '살충제 계란' 철원 등 4곳 검출…전국 6곳으로 늘어
       ART_ID GENRE        DATE                           TITLE
3159  1194395  econ  2018-10-08  고양 저유소, 불 이렇게 잡았다…지하에서는 무슨 일이?
       ART_ID GENRE        DATE                  TITLE
1717  1162784  econ  2017-08-18  살충제 계란 17곳 추가…전수조사 완료
       ART_ID GENRE        DATE                    TITLE
2943  1190092  econ  2018-08-11  우리만 문제 삼는다고?…화재 1위는 BMW
       ART_ID GENRE        DATE                           TITLE
1729  1162878  econ  2017-08-20  국민 1명당 12개 먹었다?…한국인, 살충제에 더 취약
       ART_ID GENRE        DATE                            TITLE
1716  1162783  econ  2017-08-18  김주하 앵커가 전하는 8월 18일 MBN 뉴스8 주요뉴스
       ART_ID GENRE        DATE                           TITLE
3923  1213371  econ  2019-05-25  "언제 재가동하나"…잇따른 화재로 2조 시장 '올스톱'
       ART_ID GENRE        DATE                        TITLE
1698  1162510  econ  2017-08-15  AI로 허둥대더니…'살충제 계란' 파문 키운 정부
       ART_ID GENRE        DATE                           TITLE
1714  1162701  econ  2017-08-17  정부 발표 오늘도 혼선…농장도 틀리고, 협조도 안 되고
       ART_ID GENRE        DATE                                         TITLE
2877  1188736  econ  2018-07-25  [뉴스8 단신] BMW 520d에 이어 GT에도 불…"가스 순환장치 과열 추정"

In [240]:
for item in res_v2:
    res = data_rev[ data_rev['ART_ID'] == item ][['ART_ID', 'GENRE', 'DATE', 'TITLE']]
    print(res)

       ART_ID GENRE        DATE                  TITLE
1081  1145323  econ  2017-01-11  일반 소화기, 주방 화재는 '무용지물'
      ART_ID GENRE        DATE                     TITLE
871  1139188  econ  2016-10-22  아이폰7, 중국 이어 호주에서도 폭발 잇따라
      ART_ID GENRE        DATE                          TITLE
725  1135429  econ  2016-09-01  갤럭시 노트7 배터리 리콜 검토…조사 결과, 곧 발표
       ART_ID GENRE        DATE                           TITLE
1699  1162594  econ  2017-08-16  '살충제 계란' 철원 등 4곳 검출…전국 6곳으로 늘어
       ART_ID GENRE        DATE                         TITLE
1114  1146360  econ  2017-01-24  동충하초 제품에 식중독균 범벅…기준치 800배 초과
       ART_ID GENRE        DATE                           TITLE
1384  1153638  econ  2017-04-24  선박 침몰·지하철 화재, VR로 체험했더니 '허둥지둥'
       ART_ID GENRE        DATE                  TITLE
1717  1162784  econ  2017-08-18  살충제 계란 17곳 추가…전수조사 완료
       ART_ID GENRE        DATE                           TITLE
1729  1162878  econ  2017-08-20  국민 1명당 12개 먹었다?…한국인, 살충제에 더 취약
       ART_ID GENRE        DATE                        TITLE
1698  1162510  econ  2017-08-15  AI로 허둥대더니…'살충제 계란' 파문 키운 정부
       ART_ID GENRE        DATE                            TITLE
1716  1162783  econ  2017-08-18  김주하 앵커가 전하는 8월 18일 MBN 뉴스8 주요뉴스